{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container mt-3" style="user-select: auto;">
    <div class="row" style="user-select: auto;">
        <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;"></div>
        <div class="col-sm-12 col-md-6 col-lg-6 p-2" style="user-select: auto;">
            <div id="content" class="border-top" style="user-select: auto;">
                <div class="content_block" style="user-select: auto;">
                    <div class="row">
                        <h4 style="user-select: auto;">Google로 로그인하시겠습니까?</h4>
                    </div>
                    <form method="POST" style="user-select: auto;">
                        {% csrf_token %}
                        <br>
                        {% buttons %}
                          <button type="submit" class="btn btn-sm btn-primary" style="user-select: auto;">로그인</button>
                        {% endbuttons%}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;"></div>
    </div>
</div>
{% endblock %}