{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container mt-3" style="user-select: auto;">
    <div class="row" style="user-select: auto;">
        <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;"></div>
        <div class="col-sm-12 col-md-6 col-lg-6 p-2" style="user-select: auto;">
            <div id="content" class="border-top" style="user-select: auto;">
                <div class="content_block" style="user-select: auto;">
                    <div class="row">
                        <div class="col-4">
                            <h4 style="user-select: auto;">로그인</h4>
                        </div>
                        <div class="col-8 text-end">
                            <span>또는 <a class="text-decoration-none" href="{% url 'account_reset_password' %}">아이디 / 비밀번호 찾기</a></span>
                        </div>
                    </div>
                    <form method="POST" style="user-select: auto;">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                          <button type="submit" class="btn btn-sm btn-primary" style="user-select: auto;">로그인</button>
                        {% endbuttons%}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 p-2" style="user-select: auto;"></div>
    </div>
</div>
{% endblock %}