{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-3 p-2"></div>
    <div class="col-sm-12 col-md-8 col-lg-6 p-2">
      <div id="content" class="border-top">
        <div class="content_block">
            <h4>비밀번호를 잊으셨나요?</h4>
            <form method="post">
              {% csrf_token %}
            
              <div class="form-group">
                  <label for="email">비밀번호 재설정을 위해 회원가입 시 등록했던 이메일을 입력하세요.</label>
                  <input type="text" class="form-control" name="email" id="email">
              </div>
              <div class="my-3">
                  <a href="{% url 'account_login' %}">로그인으로 돌아가기</a>
              </div>
              <button type="submit" class="btn btn-sm btn-primary">보내기</button>
            </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-3 p-2" style="user-select: auto;"></div>
  </div>
</div>
{% endblock %}