{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-3 p-2"></div>
    <div class="col-sm-12 col-md-8 col-lg-6 p-2">
      <div id="content" class="border-top">
        <div class="content_block">
            <h4>비밀번호 재설정이 완료되었습니다.</h4>
            <div class="alert alert-dismissible alert-info text-center">
              <strong>재설정된 비밀번호로 다시 로그인해주세요.</strong>
              <br>
              <a class="text-decoration-none" href="{% url 'account_login' %}" style="user-select: auto;">
                <i class="fas fa-sign-in-alt" style="user-select: auto;"></i> 로그인 페이지로 가기
              </a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-3 p-2" style="user-select: auto;"></div>
  </div>
</div>
{% endblock %}