{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2 p-2"></div>
    <div class="col-sm-12 col-md-8 col-lg-8 p-2">
      <div id="content" class="border-top" style="user-select: auto;">
        <div class="content_block" style="user-select: auto;">
          <h4 class="text-center" style="white-space: pre-line;">이 출석부를
            정말 삭제하시겠어요?</h4>
          <small class="text-danger">※ 출석부 삭제 시 즐겨찾기도 함께 삭제됩니다!</small>
          <div class="card mt-3">
            <div class="card-body">
              <form method='post'>
                {% csrf_token %}
                <div class="row">
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3"></div>
                  <input class="btn btn-danger col-2 col-sm-2 col-md-2 col-lg-2" type="submit" value="삭제">
                  <div class="col-2 col-sm-2 col-md-2 col-lg-2"></div>
                  <a href="{% url 'card_list' %}" class="btn btn-outline-dark col-2 col-sm-2 col-md-2 col-lg-2">취소</a>
                  <div class="col-3 col-sm-3 col-md-3 col-lg-3"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2 p-2"></div>
  </div>
</div>
{% endblock %}