{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
  <div class="row my-3">
      <div class="col-sm-12 col-lg-2 col-md-2"></div>
      <div class="col-sm-12 col-lg-8 col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">
                    <h3>{{ name.name }}</h3>
                    
                    <p></p>
                </div>
                <div class="d-flex justify-content-end">
                  <div class="d-flex justify-content-between">
                    <span>
                      <a class="text-decoration-none btn btn-primary" href="{% url 'name_update' name.id %}">수정</a>
                      <a class="text-decoration-none btn btn-danger" href="{% url 'name_delete' name.id %}">삭제</a>
                    </span>
                  </div>
                </div>
            </div>
        </div>
      </div>
    <div class="col-sm-12 col-lg-2 col-md-2"></div>
  </div>
</div>
{% endblock %}