{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
  <div class="row my-3">
      <div class="col-sm-12 col-lg-2 col-md-2"></div>
      <div class="col-sm-12 col-lg-8 col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">
                    <h3>{{ name.name }}</h3>
                    {% if name.dt_attend %}
                      <p>출석 시간 : {{ name.dt_attend }}</p>
                    {% elif name.dt_late %}
                      <p>지각 시간 : {{ name.dt_late }}</p>
                    {% elif name.dt_absent %}
                      <p>결석이에요. ㅠㅡㅠ</p>
                    {% else %}
                      <p></p>
                    {% endif %}
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'card_detail' name.card.id %}">목록</a>
                </div>
            </div>
        </div>
      </div>
    <div class="col-sm-12 col-lg-2 col-md-2"></div>
  </div>
</div>
{% endblock %}